*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

.navigation{
    background-image: url(assets/ivan-torres-MQUqbmszGGM-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.pizza{
    background-color: whitesmoke;
}
.output{
    background-color: wheat;
}
.contact{
    background-image: url(assets/masimo-grabar-NzHRSLhc6Cs-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    color: white;
}
.contact ::placeholder{
    color: blue;
    font-weight: bold;
}
.design{
    background-color: wheat;
}